APP_NAME=Psicomichi API
APP_ENV=qa
DEBUG=true

API_V1_PREFIX=/api/v1

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=psicomichi_db
POSTGRES_USER=psicomichi_user
POSTGRES_PASSWORD=psicomichi_password

DATABASE_URL=postgresql+psycopg://psicomichi_user:psicomichi_password@db:5432/psicomichi_db

SECRET_KEY=change_this_qa_secret_key_please
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

ALGORITHM=HS256

ALLOWED_ORIGINS=["http://localhost:5173","http://127.0.0.1:5173"]

REFRESH_COOKIE_NAME=psicomichi_refresh_token
REFRESH_COOKIE_PATH=/api/v1/auth
REFRESH_COOKIE_HTTPONLY=true
REFRESH_COOKIE_SAMESITE=lax
REFRESH_COOKIE_SECURE=false
REFRESH_COOKIE_MAX_AGE_SECONDS=2592000

LOGIN_RATE_LIMIT_MAX_ATTEMPTS=5
LOGIN_RATE_LIMIT_WINDOW_SECONDS=60

RUN_SEEDERS=true
SEED_DEFAULT_PASSWORD=NubeMorada123!

API_EXTERNAL_PORT=8000
POSTGRES_EXTERNAL_PORT=5433